// Home specific styles
.home {
  background-color: $brand-color;
}

.buttons
{
  background-color: transparent;
  border: none;
}

.navBar__images
{
    width: 2.5rem;
    height: 4.5rem;
}


.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 0;
  /* width: 2rem; */
}


.nav>li {
  float: left;
}


.body{
    margin: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
//    background-color: #FAFAFA;
}

.editionBar__nav
{
  background-color: #EEE8E7;
  position:absolute;
  display: block;
  position: fixed;
  top: 35%;
  margin-left: 2rem;
}

.editionBar__button
{
    display: block;
   // padding: 2rem 2rem 0rem 2rem;
   padding: 1rem 2rem 1rem 2rem ;
}

.buttons:hover
{
    background-color:#F6CED8;
}


.editionBar__button:focus
{
    border: none;
    outline: none;
}


.editionBar__button:first-child
{
    padding-top: 1rem;
 }


.editionBar__button:last-child
{
    padding-bottom: 1rem;
 }

.hiddenButtons__button{
    
    padding: 1rem 1rem 1rem 1.5rem;   
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 16.3333rem;
}

.hiddenButtons
{
    background-color: #EEE8E7;
    width:17%;
    opacity: 0.2;
    transition: opacity 1s;
    position: absolute;
    top: -2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 16.3333rem;
}

//  -webkit-order: 0;
//    -ms-flex-order: 0;
//    order: 0;
//    -webkit-flex: 0 1 auto;
//    -ms-flex: 0 1 auto;
//    flex: 0 1 auto;
//    -webkit-align-self: auto;
//    -ms-flex-item-align: auto;
//    align-self: auto;
    
.buttonFont{
   font-family: 'Love Ya Like A Sister', cursive;
   font-size: 1.5rem;
   margin-left: 1.9rem;
   height: 4.5rem;
   padding-top: 1rem;
}

.hiddenButtonsNotes{
    
    visibility: hidden;
    left: -19.5rem;
}


.hiddenButtonsTag{
    
    visibility: hidden;
    left: -17rem;
}

.hiddenButtonsFolder{
    
    visibility: hidden;
    left: -12rem;
}


.navBar__button{
    width: 3rem;
    padding-bottom: 0;
    height: 5rem;
}

