// Home specific styles
.home {
  background-color: $brand-color;
}

.buttons
{
  background-color: transparent;
  border: none;
}

.navBar__images
{
    width: 2.5rem;
    height: 4.5rem;
}

.navBar__hiddenImages
{
    width: 1.5rem;
    height: 3.5rem;
}


.navbar .container-fluid>.navbar-header {
  float: left;
  margin-right: 10px;
}
.navbar .navbar-nav {
  float: left;
  margin: 0;
  /* width: 2rem; */
}


.nav>li {
  float: left;
}


.body{
    margin: 0;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
//    background-color: #FAFAFA;
}

.editionBar__nav
{
  background-color: #F8F8F8;
  border: 0.2rem solid #E7E7E7;
  display: block;

  //top: 35%;
  //margin-left: 2rem;
  position: fixed;
  z-index: 2;
    height: 90vh;
// 
 // width: 10rem;
}

.editionBar__button
{
    display: block;
   // padding: 2rem 2rem 0rem 2rem;
   padding: 1rem 2rem 1rem 2rem ;
}

.buttons:hover
{
    background-color:#F6CED8;
}


.editionBar__button:focus
{
    border: none;
    outline: none;
}


.editionBar__button:first-child
{
    padding-top: 1rem;
 }


.editionBar__button:last-child
{
    padding-bottom: 1rem;
 }

.hiddenButtons__button{
    //padding: 1rem 1rem 1rem 1.5rem;   
    display: inline-block;
    align-content: center;
}

.hiddenButtons
{

   background-color: #F8F8F8;

   // width:17%;
    opacity: 0.2;
    visibility: hidden;
    display: none;
    height: 5vh;
    transition: opacity 1s;
}

.buttonFont{
   font-family: 'Love Ya Like A Sister', cursive;
   font-size: 1.5rem;
   margin-left: 1.5rem;
   height: 4.5rem;
   padding-top: 1rem;
   padding-right: 0;
}

.buttonFontHidden
{
     font-family: 'Love Ya Like A Sister', cursive;
     font-size: 1.1rem;
}


.editionBar__span
{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;  
}

.hiddenControl
{
  display:none;
}

.activeControl
{
  display:inline-block;
}

.navBar__button{
    width: 3rem;
    padding-bottom: 0;
    height: 5rem;
}

.infoPanel
{
    background-color: transparent;
    height: 90vh;
    border: 0.2rem solid #DDD ;
}



